.App {
  margin: 2%
}

.column1 {
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 1rem;

}
.column2 {
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 1rem;

}

.stock_table {
  padding: 4%;
  padding-left: 8%;

}
.chart {
  padding: 4%;
  padding-left: 8%;
  width: 100%;

}


@media only screen and (max-width: 600px) {
  .App {
    margin: 2%;
  }

  .column1 {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 1rem;
  }
  .column2 {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 1rem;
  }
  .stock_table {
    padding-left: 4%;
  }
  
}

.app_container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

